Repository trufflesuite/truffle, pull requests merged in 2021-11, with the labels that each got.

#4262 Refactor @truffle/compile-solidity's CompilerSupplier
  packages/compile-solidity/.gitignore
  packages/compile-solidity/compilerSupplier/index.js
  packages/compile-solidity/compilerSupplier/loadingStrategies/Docker.js
  packages/compile-solidity/compilerSupplier/loadingStrategies/LoadingStrategy.js
  packages/compile-solidity/compilerSupplier/loadingStrategies/Local.js
  packages/compile-solidity/compilerSupplier/loadingStrategies/index.js
  packages/compile-solidity/compilerSupplier/rangeUtils.js
  packages/compile-solidity/package.json
  packages/compile-solidity/profiler/loadParser.js
  packages/compile-solidity/scripts/test.sh
  packages/compile-solidity/src/compileWithPragmaAnalysis.js
  packages/compile-solidity/src/compilerSupplier/Cache.ts
  packages/compile-solidity/src/compilerSupplier/errors.ts
  packages/compile-solidity/src/compilerSupplier/index.ts
  packages/compile-solidity/src/compilerSupplier/loadingStrategies/Docker.ts
  packages/compile-solidity/src/compilerSupplier/loadingStrategies/Local.ts
  packages/compile-solidity/src/compilerSupplier/loadingStrategies/Native.ts
  packages/compile-solidity/src/compilerSupplier/loadingStrategies/VersionRange.ts
  packages/compile-solidity/src/compilerSupplier/loadingStrategies/index.ts
  packages/compile-solidity/src/compilerSupplier/normalizeSolcVersion.ts
  packages/compile-solidity/src/compilerSupplier/observeListeners.ts
  packages/compile-solidity/src/compilerSupplier/rangeUtils.ts
  packages/compile-solidity/src/index.js
  packages/compile-solidity/src/normalizeOptions.js
  packages/compile-solidity/src/parser.js
  packages/compile-solidity/src/profiler/index.js
  packages/compile-solidity/src/profiler/loadParser.js
  packages/compile-solidity/src/profiler/shouldIncludePath.js
  packages/compile-solidity/src/reportSources.js
  packages/compile-solidity/src/run.js
  packages/compile-solidity/test/compileWithPragmaAnalysis.js
  packages/compile-solidity/test/compilerSupplier/index.js
  packages/compile-solidity/test/compilerSupplier/loadingStrategies/LoadingStrategy.js
  packages/compile-solidity/test/compilerSupplier/loadingStrategies/VersionRange.js
  packages/compile-solidity/test/compilerSupplier/rangeUtils.js
  packages/compile-solidity/test/profiler/index.js
  packages/compile-solidity/test/profiler/shouldIncludePath.js
  packages/compile-solidity/test/run.js
  packages/compile-solidity/test/test_metadata.js
  packages/compile-solidity/test/test_oldversions.js
  packages/compile-solidity/test/test_ordering.js
  packages/compile-solidity/test/test_parser.js
  packages/compile-solidity/tsconfig.json
  packages/core/lib/commands/compile.js
  packages/core/lib/commands/obtain.js
  packages/core/lib/testing/SolidityTest.js
  packages/core/lib/testing/Test.js
  packages/core/test/lib/commands/compile.js
  packages/core/test/lib/commands/obtain.js
  packages/resolver/lib/sources/truffle/Deployed.ts
  packages/resolver/typings/compile-solidity.d.ts
  yarn.lock
Labels: internal improvement, breaking-change: @truffle/compile-solidity

#4438 Ensure consistent use of debug package across @truffle/profiler
  packages/profiler/src/convertToAbsolutePaths.ts
  packages/profiler/src/getImports.ts
  packages/profiler/src/index.ts
  packages/profiler/src/isExplicitlyRelative.ts
  packages/profiler/src/requiredSources.ts
  packages/profiler/src/resolveAllSources.ts
  packages/profiler/src/updated.ts
Labels: internal improvement

#4400 Accept url and provider arguments in hdwallet-provider constructor
  packages/hdwallet-provider/package.json
  packages/hdwallet-provider/src/constructor/Constructor.ts
  packages/hdwallet-provider/src/constructor/getOptions.ts
  packages/hdwallet-provider/src/constructor/types.ts
  packages/hdwallet-provider/src/index.ts
  packages/hdwallet-provider/test/provider.test.ts
  packages/hdwallet-provider/test/urlValidation.test.ts
Labels: enhancement, new-feature: @truffle/hdwallet-provider

#4420 Pass compiler info to resolver sources
  packages/compile-solidity/src/compileWithPragmaAnalysis.js
  packages/compile-solidity/src/index.js
  packages/compile-solidity/src/run.js
  packages/profiler/src/index.ts
  packages/resolver/lib/resolver.ts
  packages/resolver/lib/source.ts
Labels: internal improvement

#4365 Respect solc version when importing ABI JSON files inside Solidity code
  packages/resolver/lib/sources/abi.ts
  packages/resolver/package.json
  yarn.lock
Labels: enhancement

#4463 Account for the oldest kind of provider by favoring `provider.sendAsync()` over `provider.send()`
  packages/decoder/lib/ProviderAdapter.ts
Labels: enhancement, new-feature: @truffle/decoder
