Repository trufflesuite/truffle, pull requests merged in 2022-08, with the labels that each got.

#5376 Enhancement: Add `allowJson` and `strictBooleans` options to encoder
  packages/codec/lib/wrap/bool.ts
  packages/codec/lib/wrap/index.ts
  packages/codec/lib/wrap/types.ts
  packages/codec/lib/wrap/wrap.ts
  packages/encoder/lib/encoders.ts
  packages/encoder/lib/types.ts
  packages/encoder/test/array.test.ts
  packages/encoder/test/bool.test.ts
  packages/encoder/test/tuple.test.ts
Labels: breaking-change: @truffle/codec, breaking-change: @truffle/encoder

#5408 Various improvements to `truffle opcode` and `@truffle/code-utils`
  packages/code-utils/package.json
  packages/code-utils/src/index.ts
  packages/code-utils/src/types.ts
  packages/code-utils/test/index.test.ts
  packages/codec/lib/contexts/utils.ts
  packages/codec/package.json
  packages/compile-vyper/test/test_compiler.js
  packages/core/lib/commands/opcode/run.js
  packages/core/package.json
  packages/db/src/resources/bytecodes.ts
  packages/source-map-utils/index.js
  yarn.lock
Labels: breaking-change: @truffle/code-utils

#5418 Expose @truffle/compile-solidity's bytecode shims
  packages/compile-solidity/src/index.js
  packages/compile-solidity/src/run.js
  packages/compile-solidity/src/shims.ts
Labels: new-feature: @truffle/compile-solidity

#5420 Devise new experimental @truffle/from-hardhat package for compatibility translation
  packages/from-hardhat/.eslintrc.json
  packages/from-hardhat/.gitignore
  packages/from-hardhat/README.md
  packages/from-hardhat/package.json
  packages/from-hardhat/src/api.ts
  packages/from-hardhat/src/ask-hardhat.ts
  packages/from-hardhat/src/compilation.ts
  packages/from-hardhat/src/config.ts
  packages/from-hardhat/src/constants.ts
  packages/from-hardhat/src/index.ts
  packages/from-hardhat/src/options.ts
  packages/from-hardhat/tsconfig.json
  yarn.lock
Labels: new-package

#5432 Internal improvement: Fully convert compile-solidity to use TypeScript
  packages/compile-common/src/sources.ts
  packages/compile-common/src/types.ts
  packages/compile-solidity/package.json
  packages/compile-solidity/src/compileWithPragmaAnalysis.ts
  packages/compile-solidity/src/index.ts
  packages/compile-solidity/src/normalizeOptions.ts
  packages/compile-solidity/src/parser.ts
  packages/compile-solidity/src/profiler/index.ts
  packages/compile-solidity/src/profiler/loadParser.ts
  packages/compile-solidity/src/profiler/shouldIncludePath.js
  packages/compile-solidity/src/profiler/shouldIncludePath.ts
  packages/compile-solidity/src/reportSources.ts
  packages/compile-solidity/src/run.ts
  packages/compile-solidity/src/types.ts
  packages/compile-solidity/test/profiler/index.js
  packages/compile-solidity/test/profiler/shouldIncludePath.js
  packages/compile-solidity/test/test_parser.js
  packages/compile-solidity/tsconfig.json
  packages/core/lib/testing/Test.js
Labels: breaking-change: @truffle/compile-common

#5496 Add optimistic goerli to etherscan fetcher
  packages/source-fetcher/lib/etherscan.ts
Labels: enhancement

#5497 Add hecoinfo testnet back in to source-fetcher
  packages/source-fetcher/lib/etherscan.ts
  packages/source-fetcher/lib/networks.ts
Labels: enhancement

#5426 Enhancement: Add `instance.estimateGas()` and `instance.call()`
  packages/contract-tests/test/methods.js
  packages/contract-tests/test/sources/Example.sol
  packages/contract/lib/contract/index.js
  packages/contract/lib/execute.js
Labels: new-feature: @truffle/contract
