Repository trufflesuite/truffle, pull requests merged in 2022-04, with the labels that each got.

#4926 Allow connecting Truffle Dashboard via WalletConnect
  .gitignore
  packages/dashboard/package.json
  packages/dashboard/src/App.tsx
  packages/dashboard/src/Dashboard.tsx
  packages/dashboard/src/components/ConnectNetwork.tsx
  packages/dashboard/src/components/DashboardProvider/DashboardProvider.tsx
  packages/dashboard/src/components/DashboardProvider/IncomingRequest.tsx
  packages/dashboard/src/components/Header/Header.tsx
  packages/dashboard/src/components/common/Button.tsx
  packages/dashboard/src/components/common/NetworkIndicator.tsx
  packages/dashboard/src/utils/utils.ts
  yarn.lock
Labels: 🚧 proof of concept 🚧, dashboard, new-feature: @truffle/dashboard

#4984 Remove `fs` adapter from @truffle/db
  packages/db/package.json
  packages/db/src/meta/pouch/adapters/fs.ts
  packages/db/src/meta/pouch/adapters/index.ts
  packages/db/src/system.ts
  packages/db/src/test/persistence.spec.ts
  yarn.lock
Labels: breaking-change: @truffle/db

#4972 Unify Truffle Dashboard <Button /> component and provide new style properties - 4971
  packages/dashboard/src/Dashboard.tsx
  packages/dashboard/src/components/ConfirmNetworkChange.tsx
  packages/dashboard/src/components/ConnectNetwork.tsx
  packages/dashboard/src/components/common/Button.tsx
  packages/dashboard/src/components/dashboardprovider/IncomingRequest.tsx
  packages/dashboard/src/components/dashboardprovider/index.tsx
  packages/dashboard/src/components/header/Header.tsx
  packages/dashboard/src/functions/index.ts
  packages/dashboard/src/functions/styling.ts
Labels: new-feature: @truffle/dashboard

#5018 events: fix logspam from dashboard transaction spinner
  packages/events/defaultSubscribers/dashboard.js
Labels: 🐜 bug fix

#5001 spinners: fix spinner color issues
  packages/compile-solidity/package.json
  packages/compile-solidity/src/compilerSupplier/loadingStrategies/Docker.ts
  packages/core/lib/debug/cli.js
  packages/core/package.json
  packages/events/defaultSubscribers/migrate/Reporter.js
  packages/events/defaultSubscribers/obtain.js
  packages/events/package.json
  packages/spinners/lib/spinner.ts
  packages/spinners/package.json
  yarn.lock
Labels: 🐜 bug fix, breaking-change: @truffle/spinners

#5039 internal: auto-request reviews from dev team on non-draft PRs
  CODEOWNERS
Labels: internal improvement
