Repository trufflesuite/truffle, pull requests merged in 2022-01, with the labels that each got.

#4529 Internal improvement: Remove unnecessary resolver options, check compiler instead
  packages/compile-vyper/index.js
  packages/compile-vyper/profiler.js
  packages/resolver/lib/resolver.ts
  packages/resolver/lib/sources/abi.ts
  packages/resolver/lib/sources/vyper.ts
Labels: breaking-change: @truffle/resolver

#4424 Add Arbitrum and Polygon to source-fetcher
  packages/fetch-and-compile/.eslintrc.json
  packages/fetch-and-compile/package.json
  packages/fetch-and-compile/test/fetch.test.ts
  packages/fetch-and-compile/test/fixture.js
  packages/fetch-and-compile/test/sources/arbitrum.abi.json
  packages/fetch-and-compile/test/sources/arbitrum.sol
  packages/fetch-and-compile/test/sources/mainnet.abi.json
  packages/fetch-and-compile/test/sources/mainnet.sol
  packages/fetch-and-compile/test/sources/polygon.abi.json
  packages/fetch-and-compile/test/sources/polygon.sol
  packages/source-fetcher/lib/common.ts
  packages/source-fetcher/lib/etherscan.ts
  yarn.lock
Labels: fetch-and-compile

#4650 Remove sources from workflow-compile return to match TS type
  packages/workflow-compile/index.js
  packages/workflow-compile/test/index.js
Labels: breaking-change: @truffle/workflow-compile
